<div class="background">
  <app-pokemon1 class="anime"></app-pokemon1>
  <p class="text disposeFirst">{{pokemon1.name}}</p>
  <app-pokemon2 class="anime"></app-pokemon2>
  <p class="text disposeSecond">{{pokemon2.name}}</p>

  <br><br>
  <button (click)="fightPoke()" class="button">Fight</button><br>
<!--  <button (click)="break()" class="button">Pause</button><br><br>-->

  <div class="logs">
    <br>Logs :<br>
    <ng-template ngFor let-item [ngForOf]="log" let-i="index">
      {{log[i]}}<br>
    </ng-template>
    <ng-template [ngIf]="pok1PV === 0 || pok2PV === 0">
      <div style="color: red">{{lose}}</div>
    </ng-template>
  </div>
</div>

<style>

</style>
