<div class="background">
  <app-pokemon1 class="anime"></app-pokemon1>
  <p class="text disposeFirst">{{pokemon1.name}} <br> {{pokemon1.pv}} points de vie</p>
  <app-pokemon2 class="anime"></app-pokemon2>
  <p class="text disposeSecond">{{pokemon2.name}} <br> {{pokemon2.pv}} points de vie</p><br><br>

  <br><br>
  <button (click)="fightPoke()">Fight</button><br>
  <button (click)="break()">Pause</button><br><br>

  <br>Logs :<br>

  <ng-template ngFor let-item [ngForOf]="log" let-i="index">
    {{log[i]}}{{now|date :'hh:mm:ss'}}<br>
  </ng-template>
  <ng-template [ngIf]="pok1PV === 0 || pok2PV === 0">
    <div style="color: red">{{lose}}</div>
  </ng-template>
</div>

<style>
  .background {
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    height: 720px;
    width: 1280px;
  }

  .text {
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .disposeFirst {
    position: fixed;
    left: 800px;
    top: 250px;
  }

  .disposeSecond {

  }
</style>
