<div class="background">
  <app-pokemon1 class="anime"></app-pokemon1>
  <app-pokemon2 class="anime"></app-pokemon2>

  <br><br>
  <button (click)="pokemonService.fightPoke(pokemons[0], pokemons[1])" class="button">Fight</button><br>
  <!-- <button (click)="pokemonService.break()" class="button2">Pause</button><br><br> -->

  <div class="logs">
    <br>Logs :<br>
    Date de début du combat : {{now|date :'hh:mm:ss'}}<br><br>
    <ng-template ngFor let-item [ngForOf]="pokemonService.log" let-i="index">
      {{pokemonService.log[i]}}
      <ng-template [ngIf]="pokemonService.log[i].split(' ')[0] === pokemons[0].name">
        ({{pokemonService.calculDmg(pokemons[0], pokemonService.log[i].split(" ")[3])}} dégâts de pris)<br>
      </ng-template>

      <ng-template [ngIf]="pokemonService.log[i].split(' ')[0] === pokemons[1].name">
        ({{pokemonService.calculDmg(pokemons[1], pokemonService.log[i].split(" ")[3])}} dégâts de pris)<br><br>
      </ng-template>
    </ng-template>
    <ng-template [ngIf]="pokemonService.pok1PV === 0 || pokemonService.pok2PV === 0">
      <div style="color: red">{{pokemonService.lose}}</div>
    </ng-template>
  </div>
</div>

<style>

</style>
